body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

body .MuiFormControl-marginDense {
  margin: 0;
}

ol {
  padding-left: 1em;
  counter-reset: section;
  list-style-type: none;
}

li {
  font-family: courier;
}

li::before {
  counter-increment: section;
  content: counters(section, '.') ': ';
}
